/* navbar.css */

.navbar {
  position:fixed;
  top: 0;
  z-index: 1000; /* Ensure it's on top of other content */
  background-color: none; /* Add your desired background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow for better visibility */
}

.navbar.scrolled {
  backdrop-filter: blur(10px); /* Adds blur effect */
  background-color: rgba(255, 255, 255, 0.274); /* Adjust background color and opacity */
}

.content {
  padding-top: 10px; /* Adjust padding to accommodate the sticky navbar */
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar ul li {
    display: inline;
    margin-right: 10px;
  }
  
  .navbar ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
  
  .navbar ul li a:hover {
    text-decoration: none;
  }
  
  .buttons {
    display: flex;
    align-items: center;
  }
  
  .login-btn,
  .signup-btn {
    margin-left: 20px; /* Adjust spacing between the buttons */
    padding: 10px 20px; /* Adjust button padding */
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Change button background color */
    color: #fff; /* Change button text color */
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-btn:hover,
  .signup-btn:hover {
    background-color: #0056b3; /* Change button background color on hover */
  }
  
  .login-btn:focus,
  .signup-btn:focus {
    outline: none;
  }
  
  .login-btn:active,
  .signup-btn:active {
    transform: translateY(1px); /* Add slight button press effect */
  }
  
  .Login_buttons{
    display: flex;
    margin-left: auto;
  }
  
  .logocon{
    margin-left: auto;
  }

  .navbar .logo {
    margin-left: auto;
    width: 235px; /* Adjust the width to your desired size */
    height: auto; /* Automatically adjust the height based on the width */
  }
  