.horizontalslider-container {
  max-width: 100%;
  margin-top: 80px;
  padding: 30px;
  border-radius: 40px;
  background: rgba(7, 0, 0, 0.625);
  box-shadow: 0 0 20px 10px rgba(18, 1, 104, 0.5) inset;
}


.horizontalslider {
  position: relative;
  overflow: hidden;
}

.cards-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin-bottom: 20px;
}

.card {
  flex: none;
  width: 150px; /* Fixed size for each card */
  height: 200px; /* Fixed size for each card */
  margin: 10px;
  border-radius: 20px; /* Rounded corners for the card */
  overflow: hidden;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:disabled, .next:disabled {
  visibility: hidden;
}

.book-card {
  width: 200px; /* Adjust as needed */
  margin-right: 20px;
  cursor: pointer;
}

.book-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.book-details {
  padding: 10px;
}
